SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0666", SYMLINK+="rplidar_c1"
SUBSYSTEM=="tty", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="1001", ATTRS{serial}=="34:B7:DA:F7:B2:6C", MODE:="0666", SYMLINK+="epmc_front"
SUBSYSTEM=="tty", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="1001", ATTRS{serial}=="34:B7:DA:F7:B2:7C", MODE:="0666", SYMLINK+="epmc_rear"
SUBSYSTEM=="tty", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="1001", ATTRS{serial}=="34:85:18:07:66:10", MODE:="0666", SYMLINK+="eimu"