<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="epmc_hardware_interface" params="name">

    <ros2_control name="${name}_front" type="system">
      <hardware>
        <plugin>epmc_hardware_interface/EPMC_HardwareInterface</plugin>
        <param name="serial_port">/dev/epmc_front</param>
        <param name="serial_baud_rate">115200</param>
        <param name="serial_timeout_ms">18</param>
        <param name="motor0_wheel_name">front_left_wheel_joint</param>
        <param name="motor1_wheel_name">front_right_wheel_joint</param>
        <param name="cmd_vel_timeout_ms">5000</param>
      </hardware>

      <joint name="front_left_wheel_joint">
        <command_interface name="velocity">
            <param name="min">-10.0</param>
            <param name="max">10.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="front_right_wheel_joint">
        <command_interface name="velocity">
            <param name="min">-10.0</param>
            <param name="max">10.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <ros2_control name="${name}_rear" type="system">
      <hardware>
        <plugin>epmc_hardware_interface/EPMC_HardwareInterface</plugin>
        <param name="serial_port">/dev/epmc_rear</param>
        <param name="serial_baud_rate">115200</param>
        <param name="serial_timeout_ms">18</param>
        <param name="motor0_wheel_name">rear_left_wheel_joint</param>
        <param name="motor1_wheel_name">rear_right_wheel_joint</param>
        <param name="cmd_vel_timeout_ms">5000</param>
      </hardware>

      <joint name="rear_left_wheel_joint">
        <command_interface name="velocity">
            <param name="min">-10.0</param>
            <param name="max">10.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="rear_right_wheel_joint">
        <command_interface name="velocity">
            <param name="min">-10.0</param>
            <param name="max">10.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

  <xacro:epmc_hardware_interface name="epmc_hardware_interface"/>

</robot>