<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:macro name="inertial_cylinder" params="mass length radius *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * mass * (3*radius*radius + length*length)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mass * (3*radius*radius + length*length)}" iyz="0.0"
                    izz="${(1/2) * mass * (radius*radius)}" />
        </inertial>
    </xacro:macro>


    <xacro:macro name="insert_mecanum_left_wheel" params="base_name parent_name x y z mass radius thickness">
        <joint name="${base_name}_joint" type="continuous">
            <parent link="${parent_name}"/>
            <child link="${base_name}"/>
            <origin xyz="${x} ${y} ${z}" rpy="${-pi/2} 0 0"/>
            <axis xyz="0 0 1"/>
            <!-- <limit effort="10000" velocity="10"/>
            <dynamics damping="1.0" friction="1.0"/> -->
        </joint>

        <link name="${base_name}">
            <visual>
                <origin xyz="0 0 0" rpy="${pi} 0 0"/>
                <geometry>
                <mesh filename="file://$(find mobo_bot_description)/urdf/urdf_models/mecanum_left_wheel.STL"/>
                </geometry>
                <material name="dark_gray">
                <color rgba="0.2 0.2 0.2 1.0"/>
                </material>
            </visual>

            <!-- <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <sphere radius="${radius}" />
                </geometry>
            </collision>

            <xacro:inertial_sphere mass="${mass}" radius="${radius}">
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:inertial_sphere> -->

            <collision>
                <origin xyz="0 0 0" rpy="${pi} 0 0"/>
                <geometry>
                    <cylinder radius="${radius}" length="${thickness}"/>
                </geometry>
            </collision>

            <xacro:inertial_cylinder mass="${mass}" length="${thickness}" radius="${radius}">
                <origin xyz="0 0 0" rpy="${pi} 0 0"/>
            </xacro:inertial_cylinder>
        </link>

    </xacro:macro>


    <xacro:macro name="insert_mecanum_right_wheel" params="base_name parent_name x y z mass radius thickness">
        <joint name="${base_name}_joint" type="continuous">
            <parent link="${parent_name}"/>
            <child link="${base_name}"/>
            <origin xyz="${x} ${y} ${z}" rpy="${-pi/2} 0 0"/>
            <axis xyz="0 0 1"/>
            <dynamics damping="0.2"/>
        </joint>

        <link name="${base_name}">
            <visual>
                <origin xyz="0 0 0" rpy="${pi} 0 0"/>
                <geometry>
                <mesh filename="file://$(find mobo_bot_description)/urdf/urdf_models/mecanum_right_wheel.STL"/>
                </geometry>
                <material name="dark_gray">
                <color rgba="0.2 0.2 0.2 1.0"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="${pi} 0 0"/>
                <geometry>
                    <cylinder radius="${radius}" length="${thickness}"/>
                </geometry>
            </collision>

            <xacro:inertial_cylinder mass="${mass}" length="${thickness}" radius="${radius}">
                <origin xyz="0 0 0" rpy="${pi} 0 0"/>
            </xacro:inertial_cylinder>
        </link>

    </xacro:macro>

    
</robot>